{
  "extends": "@antfu",
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    // "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": {
      "allowExpressions": true
    }
  }
}
