:root {
  --ds-color-sky-blue: #e9f8ff;
  --ds-color-dark-gray: #002138;
  --ds-color-med-gray: #364141;
  --ds-color-light-gray: #b0b6b7;
  --ds-color-yellow: #ffbc00;
  --ds-color-white: #fff;
  --ds-color-black: #000;
  --ds-color-green: #006b40;
  --ds-color-red: #c63434;
  --ds-breakpoint-sm: 640px;
  --ds-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --ds-border-rounded-full: 9999px;
}

::placeholder {
  color: var(--ds-color-light-gray);
  opacity: 1;
}

html {
  overflow-y: scroll;
}

.avatar {
  border-radius: var(--ds-border-rounded-full);
  width: 3rem;
  height: 3rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.icon-button-group {
  display: flex;
  justify-content: center;
  height: 2rem;
  margin-top: 0.25rem;
  border-width: 1px;
  border: transparent;
}

.icon {
  color: rgba(156, 163, 175, 1);
  &:hover {
    color: rgba(75, 85, 99, 1);
  }
}

.label {
  /* @apply block text-sm font-medium text-gray-700; */
  margin-top: 0.25rem;
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  white-space: nowrap;
}

.overlay {
  background-color: rgba(107, 114, 128, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.search-field {
  position: relative;
  margin-top: 1rem;
}

.search-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--ds-color-med-gray, #364141);
}

.search-input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 4rem;
  font-weight: 300;
  /* color: #b0b6b7; */
  font-size: 1.625rem;
  height: 56px;
  width: 100%;
  border-radius: 32px;
  border: 1px solid #dee1e1;
}

.section {
  margin-top: 1.5rem;
  padding: 0 1.5rem;
}

.select {
  margin-top: 0.75rem;
  height: 2rem;
  width: 16.5rem;
  border-radius: 6px;
  border: 1px solid #b0b6b7;
}

.select-input {
  @apply block w-full py-2 pl-3 pr-10 mt-1 text-sm border-blue-300 rounded-md focus:outline-none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
